<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventralalab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inventralalab.Properties.Settings>
            <setting name="db_user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="db_pass" serializeAs="String">
                <value>pR0pH3Tar1a</value>
            </setting>
        </Inventralalab.Properties.Settings>
    </userSettings>
</configuration>